{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "app/css/bootstrap.css" %}" media="screen" charset="utf-8">
    <title>NFL Scraper</title>
  </head>
  <body>
    <div class="container">
      <form class="" action="">
          <pre>
            <label><h5>Player Search</h5></label>  <input type="text" name="player"><br>
            <input class="btn btn-primary" type="submit" value="Search">
          </pre>

      </form>
      <table class='table-striped'>
        {% autoescape off %}
          <h5>{{player_stats}}</h5>
        {% endautoescape %}
      </table>

    </div>
  </body>
</html>
